/* antd import */
@import "~antd/dist/antd.css";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* 
.slider-left {
  background-image:url('https://user-images.githubusercontent.com/77574867/116895862-94565d00-ac6e-11eb-94df-bf6c1ab6390e.png');
  background-size:contain;
  background-repeat:no-repeat;
} */

.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content {
  border-top-left-radius: 20px;
  max-height: 400px;
  max-width: 600px;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fa-arrow-left {
  background-image: url("https://d29fhpw069ctt2.cloudfront.net/icon/image/39092/preview.png");
  background-size: contain;
  background-repeat: no-repeat;
}

body {
  background-image: url("https://user-images.githubusercontent.com/77369674/118811425-f73f2980-b8e7-11eb-919a-d4421378e117.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Noto Sans CJK KR";
  /* 불필요한 커서는 default가 default값이 되게 했습니다. */
  cursor: default;
}

@media screen and (max-width: 500px) {
  body {
    background-image: url("https://user-images.githubusercontent.com/67696504/118986623-7b61e180-b9ba-11eb-9719-f898c5c5b7a2.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

h3 {
  font-family: "Noto Sans CJK KR", sans-serif;
}

br {
  display: block;
}