.selected {
    z-index:1;
    position:absolute;
    min-width:600px;
    height:500px;
    background:lavender;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}

.preselected {
    opacity: 0.8;
    position:absolute;
    min-width:600px;
    height:500px;
    background:lavender;
    transform: translateX(-40%) scale(0.8);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}
.proselected {
    opacity: 0.8;
    position:absolute;
    min-width:600px;
    height:500px;
    background:lavender;
    transform:scale(0.8);
    transform: translateX(40%) scale(0.8);
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 250ms;
}