.sidebtn.active {
  background: white;
}

html {
  box-sizing: border-box;
  font-family: "Nothing You Could Do";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// body {
// 	background-color: #F1F1F1;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
// }

// .heading {
// 	position: fixed;
// 	bottom: 0;
// 	right: 0;
// 	margin: 2vmin 3vmin;
// 	color: #999;
// }

.card-container {
  position: relative;
  width: 65vmin;
  height: 80vmin;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: darken(white, 2%);
  border-radius: 2px;
  box-shadow: 2px 2px 5px rgba(#111, 0.35);
  transition: transform 0.35s ease-out;
  transform: translate(var(--x), var(--y)) scale(0.35) rotate(var(--angle));
  will-change: transform;

  &:hover {
    transform: scale(1) rotate(0deg);
    z-index: 1;

    &:before {
      opacity: 1;
    }
  }
}

.card:before {
  content: "";
  display: block;
  width: 90%;
  height: 80%;
  margin: 5%;
  background: var(--image) center center no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 5px rgba(#222, 0.35);
  border-radius: 2px;
  filter: sepia(0.2) brightness(0.9) contrast(1.2);
  transition: opacity 0.35s ease-out;
  opacity: 0.5;
  will-change: opacity;
}

.card:after {
  display: block;
  content: var(--caption);
  font-weight: 500;
  color: #555;
  font-size: 3vmin;
  opacity: 0.75;
  text-align: center;
}
