html {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

body {
  margin: 0;
  height: 100%;
  font-family: "Jeju Myeongjo", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: "Jeju Myeongjo", serif;
}
