html {
  min-height: 100%;
  height: 100%;
  overflow-x: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&family=Noto+Serif+KR:wght@300&display=swap");

body {
  margin: 0;
  height: 100%;
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Serif KR", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

code {
  font-family: "Noto Sans KR", sans-serif;
  font-family: "Noto Serif KR", serif;
}
